    <div id="nav-buttons">
        <button onclick="switchView('scan'); playSound('use');" class="active-nav" id="btn-nav-scan">СКАНЕР</button>
        <button onclick="switchView('inventory'); playSound('use');" id="btn-nav-inventory">ИНВЕНТ</button>
        <button onclick="switchView('quests'); playSound('use');" id="btn-nav-quests">КВЕСТЫ</button>
        <button onclick="switchView('shelter'); playSound('use');" id="btn-nav-shelter">УБЕЖИЩЕ</button>
        <button onclick="switchView('map'); playSound('use');" id="btn-nav-map">КАРТА</button>
        <button onclick="switchView('profile'); playSound('use');" id="btn-nav-profile">ПРОФИЛЬ</button>

    </div>
